.home{
    width: 100%;
    height: 105vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-color: black;
  }
.home h1{
    color:#fff;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    font-size: 180px;
    font-family: 'Silkscreen', cursive;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  
  h2 {
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
.home h1:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
              
  }
.devfolio{
  height: 70px; 
  width: 412px;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  border-radius: 40px;
  margin-top: -200%;
  font-size: 30px;
  background:#002bff;
  color: #fff;
}
.home devfolio:hover{
  transform: 0.3; 
}
.glow-on-hover {
    width: 320px;
    height: 120px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    font-weight: bolder;
    font-family: 'Silkscreen', cursive;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    font-size: 40px;

}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  .main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://i.gifer.com/2RNb.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-color: black;
  }
  
  nav {
    left:19%;
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    position:fixed;
  }
  .nav {
    left:19%;
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
  }
  
.logo {
    top: 0%;
    right: 0%;
    flex-basis: 20%;
    position:fixed;

  }
  
 .logo img {
    top:1%;
    left:10px;
    width: 10%;
    height:15vh;
    position:fixed;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  .nav-links ul li a:hover{
    color: #3498DB;
    transition: .3s;
  }
  
  .information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
  }
  
  #circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1.5s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .feature {
    position: absolute;
    display: flex;
    color: #fff;
  }
  
  .feature div {
    margin-left: 30px;
  }
  
  .feature div p {
    margin-top: auto;
  }
  
  .feature img {
    width: 70px;
  }
  
  .one {
    top: 420px;
    right: 100px;
  }
  
  .one img {
    border-left: transparent;
    top: -50px;
    right: 150px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
  }
  
  .two {
    top: 60px;
    left: 310px;
    transform: rotate(-90deg);
  }
  
  .two img {
    border-left: transparent;
    top: -30px;
    right: 330px;
    width: 190px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
  }
  
  .three {
    bottom: 420px;
    left: 10px;
    transform: rotate(-180deg);
  }
  
  .three img {
    top: -10px;
    right: 310px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
  }
  
  .four {
    bottom: 150px;
    right: 390px;
    transform: rotate(-270deg);
  }
  
  .four img {
    top: -10px;
    right: 160px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
  }
  
  .Dates {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .controls h3 {
    margin: 15px 0;
    color: #fff;
    font-size: 190%;
  }
  
  #Upbtn {
    width: 40px;
    height: 3vh;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  #downbtn {
    width: 40px;
    height: 3vh;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  .overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-left: 500px solid #fff;
    border-bottom: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  
.Judges{
    margin: 0 0px;
    background:black;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
 }
.Judges p {
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  margin-top: 9%;
}
.Judges h2 {
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  margin-top: 9%;
}
.column {
  float: left;
  width: 27.3%;
  padding: 10px 10px;
}

.row {
  margin-top: 2%;
  align-items: center;
  margin-left: 13%;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;  
}
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
}
.card_judge {
  box-shadow: 0 4px 8px 0 rgba(183, 22, 22, 0.2);
  padding: 12px;
  text-align: center;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 10px;
  height: 50vh;
}
.card_judge:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 3px 5px rgba(92, 113, 188, 0.703);
}
img {
  border-radius: 10px 10px 10px 10px;
  height: 40vh;
}

/*   .mentors{
    margin: 0 0px;
    background:black;
    width: 100%;
    height: 250vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  .mentors img{
    margin-top: 4%;
    margin-left: 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .mentors h1{
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    font-size: 50px;
  }
   */

.mentors{
    float:left;
    margin: 0 0px;
    background:black;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  .mentors img{
    margin-top: -3%;
    margin-left: 3%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float:left;
    align-items: center ;
    justify-content: center;
    padding: 50px;
    padding-bottom:  90px;

    
  }
  .mentors h1{
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 2%;
    font-size: 50px;
    
  }
  .mentors p{
    color: #fff;
    float : left;  
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    margin-top: 16%;
    margin-left: -18%;
  /* margin-top: 25%; */
  }
  .mentors img:hover{
    transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(232, 200, 200, 0.25),
    -5px -5px 3px 5px rgba(225, 227, 237, 0.703);
}
  

.sponsor .text p{
    font-size: 50px;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 290%; 
    margin-top: 9%; 
    font-weight: bolder;
    font-size: 50px;
    
  
  }
/* .footer{
  margin-top: 20%;
} */
.centerdiv {
     width:100%;
     height:20vh;
   display: flex;
   justify-content: center;
   /* margin-top: -2%; */
   align-items: center;
   background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-color: black;
  } 
  .centerdiv a i{
    font-size: 20px;;
    height:55px;
    width:100px;
    color:#D2B4DE ;
    border-radius: 50px;
    font-size: larger;
    text-align: center;
    margin:10px;
    box-shadow: 1px 4px 1px 1px #3498DB;
    transition: all 0.3s linear;
    align-items: center;
    
  } 
  .centerdiv a:hover i{
    transform: scale(1.5);
    color:rgb(37, 11, 144);
  }
  .centerdiv i.mysize{
    font-size: 3em;
  }
  .footer p{
    font-size: 35px;
    color:#fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif); */
  }

.sponsor{
  display: flex;
  justify-content: center;
  margin-top:-24%;
  align-items: center;
  height: 100vh;
  background: black;
  background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
  }
.sponsor .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px;
  margin-left: -5%;
  margin-bottom: -40%;
  margin-top: 0%;

}


.sponsor .card {
  margin: 10px auto;
  width: 250px;
  height: 100px;
  border-radius: 20px;
box-shadow: 0px 0px 0px 7px rgba(15, 15, 17, 0.948), -5px -5px 30px 7px rgba(72, 79, 138, 0.97);
  cursor: pointer;
  transition: 0.4s;
  margin-left: -1%;
  padding-left:2 10px;
  
  }
.card{
box-shadow: 0 4px 8px 0 rgba(183, 22, 22, 0.2);
padding: 12px;
text-align: center;
background-color: #fff;
transition: 0.3s;
border-radius: 10px;
height: 50vh;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 0px;
  /* content:"\a";
  white-space: pre-line; */
  
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit:contain;
  align-items: center;
  justify-content: center;
  margin-left: -2%; 
  margin-top: 0%;
  
}
.card .card_image{
  border:#7a00ff;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -100px;
  height: 40px;
  margin-left:  70%;
  margin-bottom: -40%;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 3px 5px rgba(92, 113, 188, 0.703);
}

.title-white {
  color: white;
}

.title-black {
  color:white;
}

@media only screen and (max-width: 600px)
  {
    .home{
      width: 140%;
      height: 100vh;
    }

    .logo img {
      top:1%;
      left:10px;
      width: 40px;

    }

    .feature img {
      width: 20px;
    }
    
    .one img {
     
      top: -50px;
      right: 50px;
      width: 100px;
      height: 150px;
      border-radius: 50%;
      
    }
   
    .main {
      width: 70%;
      height: 80vh;
    }

    .feature div {
      margin-left: 50px;
    }
    
   
    
    .feature img {
      width: 50px;
    }

    .overlay {
      width: 0;
      height: 0;
      border-top: 300px;
      border-right: 300px;
      border-left: 300px;
      border-bottom: 300px;;
      position: absolute;
      left: 0;
      top: 0;
    }

    .two {
      top: 30px;
      left: 100px;
      
    }
    
    .two img {
      
      top: -20px;
      right: 100px;
      width: 100px;
      height: 200px;
      border-radius: 30%;
      
    }
    
    .three {
      bottom: 210px;
      left: 5px;
      
    }
    
    .three img {
      top: -5px;
      right: 100px;
      width: 100px;
      height: 100px;
      border-radius: 30%;
     
    }
    
    .four {
      bottom: 100px;
      right: 300px;
      
    }
    
    .four img {
      top: -5px;
      right: 70px;
      width: 100px;
      height: 100px;
      border-radius: 30%;
     
    }
    
    .Dates {
      width: 100px;
      
      top: 20%;
      left: 15%;
      
    }

    .information {
      width: 100px;
      height: 50px;
     
      top: 30%;
      left: -5%;
    
    }

    .home h1{
     
      margin-top: 18%;
      font-size: 70px;
      
    }
    
    .nav-links {
      flex: 10;
      
    }

    nav {
      left:1%;
      width: 100%;
    }
    
    #circle {
      width: 50px;
      height: 50px;
     
      
    }
  }
