.home{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    /* background: linear-gradient(to right, #9c27b0,#8ecdff); 
   /* background:linear-gradient(to right, #9c27b0,#8ecdff);*/
    background-color: black;
  
  }
  .home h1{
    color:#fff;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    font-size: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://i.gifer.com/2RNb.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    /* background: linear-gradient(to right, #9c27b0,#8ecdff); 
   /* background:linear-gradient(to right, #9c27b0,#8ecdff);*/
    background-color: black;
  }
  
  nav {
    left:19%;
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    position:fixed;
  }
  
  .logo {
    top: 0%;
    right: 0%;
    flex-basis: 20%;
  }
  
  .logo img {
    top:1%;
    left:20px;
    width: 150px;
    position:fixed;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
  }
  
  #circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1.5s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .feature {
    position: absolute;
    display: flex;
    color: #fff;
  }
  
  .feature div {
    margin-left: 30px;
  }
  
  .feature div p {
    margin-top: auto;
  }
  
  .feature img {
    width: 70px;
  }
  
  .one {
    top: 420px;
    right: 100px;
  }
  
  .one img {
    border-left: transparent;
    top: -50px;
    right: 150px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
  }
  
  .two {
    top: 60px;
    left: 310px;
    transform: rotate(-90deg);
  }
  
  .two img {
    border-left: transparent;
    top: -30px;
    right: 330px;
    width: 190px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
  }
  
  .three {
    bottom: 420px;
    left: 10px;
    transform: rotate(-180deg);
  }
  
  .three img {
    top: -10px;
    right: 310px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
  }
  
  .four {
    bottom: 150px;
    right: 390px;
    transform: rotate(-270deg);
  }
  
  .four img {
    top: -10px;
    right: 160px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
  }
  
  .Dates {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .controls h3 {
    margin: 15px 0;
    color: #fff;
    font-size: 190%;
  }
  
  #Upbtn {
    width: 35px;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  #downbtn {
    width: 35px;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  .overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-left: 500px solid #fff;
    border-bottom: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .container {
    position: relative;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: warp;
    padding: 30px;
    top:300px;
    
   
  }
  .card{
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 50%;
  }
  
  .container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
  
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    
  }
  .container .card:hover {
    height: 320px;
  }
  
  .container .card .image {
    position: relative;
    width: 260px;
    height: 260px;
  
    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .container .card .image img {
    max-width: 100%;
    border-radius: 15px;
  }
  
  .container .card .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
  
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .container .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
   
    margin: 0 0px;
    background:black;
    width: 100%;
    height: 150vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 20px;
  }
  
  .row h1{
    margin-top: 100%;
    color:#fff;
    padding-left: 50%;
    font-weight: bolder;
    margin-top:3%;
    font-size: 50px;
    margin-left: -5%;
    
  }
  
  .mentors{
    margin: 0 0px;
    background:black;
    width: 100%;
    height: 350vh;
    position: relative;
    overflow: hidden;
    background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif);
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  .mentors img{
    margin-top: 5%;
    margin-left: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .mentors h1{
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 3%;
    font-size: 50px;
  }
  
  
  /* // Full tutorial coming soon! */
  
  .sponsor p{
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  .sponsor .card{
    text-align: center;
    line-break: auto;
    margin-left: 30%;
    --card-gradient: rgba(0, 0, 0, 0.8);
    --card-gradient: #5e9ad9, #e271ad;
    /* // --card-gradient: tomato, orange; */
    --card-blend-mode: overlay;
    /* // --card-blend-mode: multiply; */
  
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.03rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(
      var(--card-gradient),
      white max(9.5rem, 27vh)
    );
    overflow: hidden;
  }
  .sponsor img{
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      object-fit: cover;
      height: max(10rem, 25vh);
      max-height: max(10rem, 30vh);
      aspect-ratio: 4/3;
      mix-blend-mode: var(--card-blend-mode);
      /* // filter: grayscale(100); */
        margin-left: 1rem;
        margin-right: 1rem;
      
    }
  /* :last-child {
      margin-bottom: 0;
  } */
  .sponsor .li img::hover{
      transform: scale(1);
      color:rgb(37, 11, 144);
    } 
  .sponsor .card h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
  .sponsor .card a {
    color: inherit;
  }
  
  .sponsor .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100vw;
    width: 200ch;
    margin-right: 50%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 50%;
  }
  
  
  .centerdiv {
     width:100%;
     height:100%;
   display: flex;
   justify-content: center;
   margin-top: 6%;
   /* margin-bottom: 100%; */
  }
  .centerdiv a i{
    font-size: 20px;;
    height:55px;
    width:100px;
    color:#D2B4DE ;
    border-radius: 50px;
    font-size: larger;
    text-align: center;
    margin:10px;
    box-shadow: 1px 4px 1px 1px #3498DB;
    transition: all 0.3s linear;
    
    
  }
  .centerdiv a:hover i{
    transform: scale(1.5);
    color:rgb(37, 11, 144);
  }
  .centerdiv i.mysize{
    font-size: 3em;
  }
  .footer p{
    font-size: 50px;
    color:#fff;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
